<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>password</title>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link
     href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"
     rel="stylesheet" />
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script
     src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js">
     
</script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script
     src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js">
     
</script>
</head>
<body>
<img src="http://localhost/001.jpg" style="width: 100%; height: 100%;z-index:-1; overflow: hidden;position:absolute;margin-top:-150px" />

    <form id="form2" class="well" class="form active" method="post" action="{:url('index/Password/doPassword')}"  style="width: 30em; margin: auto;margin-top: 150px;">
        <h1>修改密码</h1>
    <div class=" input-group input-group-md">
               <span class="input-group-addon" id="sizing-addon1">
                    <i class="glyphicon glyphicon-user"aria-hidden="true"></i>
               </span> 
               <input id="username" type="text" name="username" class="form-control" placeholder="请输入电话号码"/>
          </div>
          <br />
          <div class="input-group input-group-md">
               <span class="input-group-addon" id="sizing-addon1">
                    <i class="glyphicon glyphicon-lock"></i>
               </span>
               <input type="password" name="newpassword" id="password" class="form-control" placeholder="输入新密码" />
          </div>
          <br />
          <div class="input-group input-group-md">
               <span class="input-group-addon" id="sizing-addon1">
                    <i class="glyphicon glyphicon-lock"></i>
               </span>
               <input type="password" name="newpassword1" id="password" class="form-control" placeholder="重复新密码" />
          </div>
          <br><br/>
          <button type="submit" class="btn btn-primary">修改</button>
</div>

</body>
</html>