<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>repassword</title>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link
     href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"
     rel="stylesheet" />
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script
     src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js">
     
</script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script
     src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js">
     
</script>
</head>
<body>
<img src="http://localhost/001.jpg" style="width: 100%; height: 100%;z-index:-1; overflow: hidden;position:absolute;margin-top:-150px" />

    <form id="form1" class="well" class="form active" method="post" action="{:url('index/Repassword/doRepassword')}"  style="width: 30em; margin: auto;margin-top: 150px;">
        <h1>邮箱验证</h1>
    <div class=" input-group input-group-md">
               <span class="input-group-addon" id="sizing-addon1">
                    <i class="glyphicon glyphicon-user"aria-hidden="true"></i>
               </span> 
               <input id="email" type="text" name="email" class="form-control" placeholder="请输入您的邮箱"/>
          </div>


              <div class="btnBox">
              <a id="moBtn" href="javascript:;" onclick="sendMsgCode()">免费获取验证码</a>
              <a id="secondShow" href="javascript:;"></a>
              </div>


          <br />
          <div class="input-group input-group-md">
               <span class="input-group-addon" id="sizing-addon1">
                    <i class="glyphicon glyphicon-lock"></i>
               </span>
               <input type="text" name="captcha" id="password" class="form-control " required="true" placeholder="请输入验证码"/>
          </div>
          <br>
          <button type="submit" class="btn btn-primary" >验证</button>
          <br />
</div>


        <script>
          var countdown=30;  // 时长 s
// 获取验证码按钮点击事件
           function sendMsgCode() {
        $("#secondShow").css('display','block');
        $("#moBtn").css('display','none');
        $("#secondShow").html('重新发送('+countdown+'s)');
        var mail=$("#email").val();
         
        $.ajax({
          url:"http://localhost/ThinkPHP/public/index/Repassword/sendmail",
          data:{email:mail},
          method:"POST",
        })
        var timer = setInterval(function () {
            if (countdown == 0) {
                clearInterval(timer);
                $("#secondShow").css('display','none');
                $("#moBtn").css('display','block');
                countdown = 30;
                console.log(countdown);
            }
            $("#secondShow").html('重新发送('+(countdown-1)+'s)');
            countdown--;
        }, 1000);
};
        </script>
</body>
</html>